body {
  font-family: 'Bebas Neue', cursive;
  line-height: 1;
}
li {
  padding: .5em;
  text-align: justify;
}
p {
  font-family: 'Raleway', sans-serif;
}
li>span {
  font-family: 'Raleway', sans-serif;
}
/*div {*/
/*  border: solid 1px hotpink;*/
/*}*/
.point {
  font-size: 2em;
}
.smallPoint {
  font-size: 1.75em;
}
.misc {
  font-size: 1.5em;
}
#cv {
  font-size: 6em;
}
#name {
  font-size: 3em;
}

/*font-family: 'Bebas Neue', cursive;*/
/*font-family: 'Raleway', sans-serif;*/
