<div class="container">
  <div class="card">
    <div class="card-header">
      File Uploader
    </div>
    <div class="card-body">
      <div>
        <form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
          <div class="form-group">
            <label
              >Uploader Name
              <input type="text" formControlName="name" class="form-control" />
            </label>
          </div>
          <div class="form-group">
            <label>
              File Description
              <input
                type="text-area"
                formControlName="desc"
                class="form-control"
              />
            </label>
          </div>
          <ng-picker-overlay
            apikey="AwXKFrkTTcC9DSKEwp9Unz"
            (uploadSuccess)="onUploadSuccess($event)"
            (uploadError)="onUploadError($event)"
          >
            <button class="btn btn-primary text-center">
              Select file for upload
            </button>
          </ng-picker-overlay>
          <input
            class="btn btn-primary mx-auto"
            type="submit"
            name="submit"
            id="submit"
          />
        </form>
      </div>
    </div>
  </div>
</div>
