/*Elements First*/
header {
  display: block;
  text-align: center;
  background: linear-gradient(to right, #f12711, #f5af19);
}
/*IDs Second*/
#expo {
  text-align: center;
  margin: 0 10% 0 10%;
}
/*Classes Last*/
