/*Elements*/
body {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
p {
  color: black;
}
li {
  text-align: left;
}
ul p {
  text-align: left;
}
footer {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*ID*/
#amyHeadshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 960px;
  border-radius: 15px;
}
#amyInfo {
  margin: 0;
  padding: 5px;
  text-align: center;
}
#nameBox {
  position: center;
  text-align: center;
  width: auto;
  max-width: 960px;
  margin: 25px 50px;
  border: 10px;
  border-radius: 15px;
  padding: 5px;
  background-color: #FFFFFFAA;
}
#subtitle {
  padding: 0 10px 0 10px;
}
#timeline {
  max-width: 960px;
}
#timeList {
  text-align: left;
}
/*Class*/
.container {
  text-align: center;
  align-content: center;
}
