<div class="container-fluid">
  <!-- Addition -->
  <form [formGroup]="additionForm" (ngSubmit)="additionSubmit()">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Num1:</label>
          <input type="number" formControlName="num1" class=form-control />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Num2:</label>
          <input type="number" formControlName="num2" class=form-control />
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
  <!-- Multiplication -->
  <form [formGroup]="multiplyForm" (ngSubmit)="multiplicationSubmit()">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Num1:</label>
          <input type="number" formControlName="num1" class=form-control />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Num2:</label>
          <input type="number" formControlName="num2" class=form-control />
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
    <h2 *ngIf="calculatedValue !null">{{calculatedValue}}</h2>
</div>
