<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MVC Notes</title>
</head>
<body>
MVC - Model View Controller
- Software Architectural Design Pattern
- One of the most frequently used patterns
-- it separates application functionality
-- promotes organized programming
-- allows our code to be more readable, reusable, testable.

MODEL - Data related logic
- Interacts with database
-- (SELECT, INSERT, UPDATE, DELETE)
- Communicates with Controller
- Sometimes updates view, dependant on framework
- Beans
-- Java Class similar to constructors
-- Encapsulate many objects so that we can access them in multiple places
-- provides a 0 argument constructor
-- Getter/Setter for all Instance Variables
-- implements serializable and externalizeable Interface

VIEW - What the end User sees (AKA GUI)
- Usually consists of HTML/CSS
- Can pass dynamic values from the Controller
- Example: JSP
- Template Engine, dependant on framework

CONTROLLER - Receives input from VIEW
- Processes requests (GET, POST, DELETE)
- Gets data from MODEL
- Acts as intermediate between MODEL and VIEW
- Passes data to VIEW
- Example: Servlets

MVC Servlets and JSPs
- Logic <% ... %> should no longer be included in JSP
- setAttribute()
-- allows us to make a value available in the JSP
- gerRequestDispatcher()
-- allows us to pass the flow of control from the servlet to a JSP
-- String that gets passed in is going to be the path of the JSP
--- Relative to the web directory


DAO - Data Access Object
- Java Class
- Typically designed behind an interface
- provide interface for CRUD functionality
- CRUD - Create Read, Update, Delete
-- Basic crud operations are a good starting place for DAO methods
DAO Factory
- Factory - A class for creating objects
- We can use a factory to create instances of our DAO for us
- Allows us to reuse an existing instance
- factory is how the rest of our application can access DAOs


</body>
</html>
